body,
html {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
html::-webkit-scrollbar{
  position: relative;
  background: transparent;
  width: 5px;
  height: 5px;
  border-radius: 4px;
  /* top                 : 10px; */
  /* bottom: 10px; */
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s linear;
  /* margin: 5px; */
}
html::-webkit-scrollbar-thumb {
  background: #62646f;
  border-radius: 10px;
  /* height: 220px; */
}

.scrollDiv::-webkit-scrollbar {
  position: relative;
  background: transparent;
  width: 5px;
  border-radius: 4px;
  /* top                 : 10px; */
  /* bottom: 10px; */
  z-index: 2;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.25s linear;
  right: -15px;
}

.scrollDiv::-webkit-scrollbar-thumb {
  background: #62646f;
  border-radius: 10px;
  /* height: 220px; */
}

.RichEditor-editor{
    background-color: #c2c2c2;
    border: 1px solid;
    min-height:345px;
    max-height: auto;
    padding:2;
    border-radius: 4px;
    max-width: 700px;
    min-width: auto;
}
.editorDiv{
    width: 700px;
    max-width:700px;
    min-width: auto;
}
.loadingDiv{
    flex: 1;
    display: flex;
    top: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.draftView{
    border:0px;
    max-height: auto;
    max-width: 700px;
    min-width: auto;
    padding:2;
}
.line{
    border-bottom:1px ridge #c2c2c2;
    border-top: 1px ridge #c2c2c2;
    max-width: 700px;
    min-width: auto;
    width: 700px;
    padding: 1px;
}
.date{
    margin-right: auto;
    font-size: 13px;
    font-family: "Roboto",sans-serif;
}